body{
    background-color: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
h1{
    color: #17a2b8;
}
.form-control{
    background-color: #24353f;
}
.form-control::placeholder {
    color: lightgray !important;
}
.form-control:focus{
    background-color: #24353f;
}
#reg-msg{
    color: red;
}